.nome {
    color: black;
}

#paragrafo {
    color: black;
}


body {
    background-image: url("https://static.vecteezy.com/ti/fotos-gratis/p1/2254544-fundo-cor-de-rosa-pastel-fluido-gr%C3%A1tis-foto.jpg");
    background-size: cover;
}

